html {

	min-height: 100%;
	
}

body {
	
	margin: 0;
	height: 95vh;
	
}

canvas {
	
	margin: auto;
	
}

#controlsContainer {

	width: 20%;
	height: 100%;
	float: left;
	
}

#controlButtonsTable {

	margin: auto;
	
}

#controlButtonsTable td {
	
	width: 20%;
	
}

#controlButtonsTable button {
	
	width: 100%;
	
}

#cubeCanvasContainer {

	width: 60%;
	float: left;
	
}

#navigationCanvasContainer {

	width: 20%;
	float: left;
	background-color: green;
	
}